h1{
    margin: 0%;
    padding: 0%;
    color:brown;
}
h2{
    margin: 0%;
    padding: 0%;
    color:rgb(75, 42, 165);

}
.blue{
    color:aqua;
}
.bluegreen{
    color: yellow;
}
h3 .green{
    color: green;
}
